.aspekta {
    font-family: Aspekta-50;
}

.garamond {
    font-family: Garamond Normal;
}

.garamond-light {
    font-family: Garamond Light;
}

.alumni-sans {
    font-family: Alumni Sans Pinstripe Regular;
}

.catchy-mager {
    font-family: Catchy Mager;
}

.uncut-sans {
    font-family: Uncut Sans;
}

.kaushan {
    font-family: KaushanScript-Regular;
}

.breathing {
    font-family: Breathing;
}