
.blue {
    color: #2196f3;
};
.red {
    color: #f44336;
};
.yellow {
    color: #ffeb3b;
}

.dark-green {
    color: #041F1E
}

.hunter-green {
    color: #3E5641;
}

.bg-hunter-green {
    background-color: #3E5641;
}

.bg-mute-green {
    background-color: #508857;
}

.bg-light-green {
    background-color: #85CC7E;;
}

.cafe-noir {
    color: #4E3822
}

.peach-yellow {
    color: #F7DBA7
}

.beige {
    color: #F4F1ED;
}