.slide-show {
  display: flex;
  width: 98vw;
  height: 40rem;
  z-index: 2;
}

.slide-show img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.7;
  transition: 0.7s ease;
}

.slide-show img:hover {
  width: 25rem;
  opacity: 1;
  transition: 1s ease;
  filter: contrast(110%) brightness(110%);
}
